/* PAGE TITLES */

.page-title-left {
  margin-bottom: 2rem;
  text-align: left;
}

.page-title-left h1 {
  font-size: 2.8em;
  font-weight: bolder;
  margin-bottom: 12px;
  line-height: 1em;
}

.page-title-left p {
  padding-left: 3px;
  font-size: 1.4em;
  line-height: 0.3em;
}

/* HOME */

.home-page {
  margin: 0;
  width: 100%;
  height: 100vw;
  padding: 3rem 5rem;
  background-color: #ffffff;
}

.dashboards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.dash {
  position: relative;
  width: 22rem;
  height: 12rem;
  padding: 4rem 2rem;
  border-radius: 20px;
}

.dash h4 {
  font-size: 1.6em;
  color: #ffffff;
}

.dash p {
  font-size: 1.6em;
  color: #ffffff;
}

.dash::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 15%;
  right: -15%;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #ffffff2c;
}

.dash::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -5%;
  right: -30%;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #ffffff2c;
}

/* PLANOS */
.plans-page {
  padding: 3rem;
  width: 100%;
  height: 100vw;
  background-color: #eeeeee5d;
}

.page-title-center {
  text-align: center;
  margin-bottom: 10rem;
}

.page-title-center h1 {
  font-size: 32px;
}

.plans {
  width: 100%;
  height: 60%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.card-plan {
  max-width: 200px;
  height: 270px;
  border-radius: 5%;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 1px 5px 5px 3px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 1px 5px 5px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 1px 5px 5px 3px rgba(0, 0, 0, 0.14);
}

.card-plan h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.value-plan {
  font-size: 56px;
  font-weight: 700;
  margin-left: -30px;
  color: #1dbf79;
  margin-bottom: 10px;
}

.value-plan small {
  font-size: 28px;
  font-weight: normal;
}

.validity-plan {
  font-size: 12px;
  display: block;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 10px;
}

.label-plan {
  height: 38px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 10px;
}

.card-plan a {
  display: flex;
  justify-content: center;
  background-color: #1dbf79;
  align-items: center;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  font-size: 11px;
}

.active-plan {
  border: 2px solid #1dbf79;
}

/* SUPORTE TÉCNICO */
.support-page {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vw;
  padding: 3rem 5rem;
  background-color: #eeeeee5d;
}

.support-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 2rem;
}

.form-group {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.support-form select {
  border-radius: 10px;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  height: 35px;
  border: none;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.04);
}

.support-form textarea {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  min-height: 12rem;
  resize: none;
  border: none;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.form-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.form-buttons button[type='submit'] {
  background-color: #1dbf79;
  color: #ffffff;
}

.form-buttons button[type='reset'] {
  background-color: #acadac;
  color: #ffffff;
}

.contact-sup {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5%;
  text-align: center;
}

.contact-sup span {
  color: #1dbf79;
  font-size: 12px;
  font-weight: 700;
  display: block;
}
